<p *ngIf="!authorized">
    You're not authorized.
</p>

<div *ngIf="authorized" class="container spc-top">
    <div class="options">
        <button class="green-button-big" (click)="showEditAlbum=true; hideCurrentEditScreen('album')" [ngClass]="{ 'option-button-active' : showEditAlbum == true}">
            Manage images and albums
        </button>
        <button class="green-button-big" (click)="showEditMagazine=true; hideCurrentEditScreen('magazine')" [ngClass]="{ 'option-button-active' : showEditMagazine == true}">
            Manage magazine
        </button>
        <button class="green-button-big" (click)="showRegister=true; hideCurrentEditScreen('register')" [ngClass]="{ 'option-button-active' : showRegister == true}">
            Register new user
        </button>
    </div>

    <div class="edit row" *ngIf=showEditAlbum>
        <div class="spc-bottom">
            <app-edit-album></app-edit-album>
        </div>

        <div>
            <app-image-upload></app-image-upload>
        </div>
    </div>

    <div class="edit row" *ngIf=showRegister>
        <div class="spc-bottom">
            <app-register></app-register>
        </div>
    </div>

</div>
