<p *ngIf="!authorized">
    You're not authorized.
</p>

<div *ngIf="authorized" class="container spc-top admin">
    <div class="options">
        <a (click)="showUploadImages=true; hideCurrentEditScreen('image')" [ngClass]="{ 'option-button-active' : showUploadImages == true}">
            Upload images
        </a>
        <a (click)="showEditAlbum=true; hideCurrentEditScreen('album')" [ngClass]="{ 'option-button-active' : showEditAlbum == true}">
            Manage albums
        </a>
        <a (click)="showEditBlog=true; hideCurrentEditScreen('blog')" [ngClass]="{ 'option-button-active' : showEditBlog == true}">
            Manage blogs
        </a>
        <a (click)="showEditCarousel=true; hideCurrentEditScreen('carousel')" [ngClass]="{ 'option-button-active' : showEditCarousel == true}">
            Manage carousel
        </a>
        <a (click)="showEditMosaic=true; hideCurrentEditScreen('mosaic')" [ngClass]="{ 'option-button-active' : showEditMosaic == true}">
            Manage mosaic
        </a>
        <a (click)="showRegister=true; hideCurrentEditScreen('register')" [ngClass]="{ 'option-button-active' : showRegister == true}">
            Register new user
        </a>
    </div>

    <div class="edit row" *ngIf=showUploadImages>
        <app-image-upload></app-image-upload>
    </div>

    <div class="edit row" *ngIf=showEditAlbum>
        <div class="spc-bottom">
            <app-edit-album></app-edit-album>
        </div>
    </div>

    <div class="edit row" *ngIf=showRegister>
        <div class="spc-bottom">
            <app-register></app-register>
        </div>
    </div>

    <div class="edit row" *ngIf=showEditBlog>
        <div class="spc-bottom">
            <app-create-blog></app-create-blog>
        </div>
    </div>

    <div class="edit row" *ngIf=showEditMosaic>
        <div class="spc-bottom">
            <app-mosaic-edit></app-mosaic-edit>
        </div>
    </div>

</div>
