.center {
    align-items: center;
    text-align: center;
}

.fit-image {
    object-fit: contain;
}

.image-scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1rem; 
  padding: 1rem 0;
}

.image-item {
  flex: 0 0 auto; 
  width: fit-content;
  text-align: center;
}