<div class="grid spc-top">
    <div class="box" *ngFor="let album of albums">
         <a href="javascript:void(0);" (click)="openImageModal(album.id)">
            <img [src]="album.coverImage?.file?.path" alt="Album_Cover" width="500" height="300">
        </a>
        <h3>{{album.name}}</h3>
        <p *ngIf="album.description">{{album.description}}</p>
         <div *ngIf="edit" class="actions">
            <mat-slide-toggle [(ngModel)]="album.show" (change)="changeVisibility(album)">Show Album</mat-slide-toggle>
            <mat-icon (click)="deleteAlbum(album.id)" class="delete-icon spc-left">delete_forever</mat-icon>
        </div>
    </div>
</div>
