footer{
    background-image: url("/images/footer-bg.png");
    background-repeat: repeat;
}

.hover-underline {
  position: relative;
  cursor: pointer;
}

.hover-underline::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-bone); /* Uses the text color */
  transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
}