<button 
    class="option-button-active spc-top spc-bottom" 
    (click)="addBlogClicked = !addBlogClicked;">
    Add new blog
</button>

<form *ngIf="addBlogClicked" [formGroup]="createBlogForm" (ngSubmit)="createBlog();">
    <div>
        <mat-form-field class="spc-right">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        
        <mat-form-field class="spc-right">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" required>
        </mat-form-field>

        <mat-slide-toggle id="show" formControlName="show">Show Blog</mat-slide-toggle>
    </div>
    <div>
        <mat-form-field class="spc-right">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
    </div>

    <div class="NgxEditor__Wrapper spc-top">
        <ngx-editor-menu 
            [editor]="editor">
        </ngx-editor-menu> 
        <ngx-editor
            [editor]="editor"
            formControlName="html"
            required
        ></ngx-editor>
    </div>

    <div class="spc-top">
        <p>Cover Image *</p>
        <app-file-upload (filesChanged)="onFileChanged($event)"></app-file-upload>
    </div>       

    <div class="spc-top">
        <button class="option-button-active" type="submit">Save New Blog</button>
    </div>

    <div class="form-error" *ngIf="showError">
        <p>Form is invalid!</p>
    </div>
</form> 

<app-blog-list [edit]="true"></app-blog-list>
