<div class="gallery" unique-script-id="w-w-dm-id" *ngIf="items.length > 0">
  <div class="responsive-container-block bigContainer">

    <div class="responsive-container-block Container" *ngFor="let j of [].constructor(chunks)">
        <div class="project project1">
            <img class="smallImage" [src]="items[0].path">
            <div class="btn-box">
            <button class="btn" (click)="openBlog(items[0].blogId)">      
                View              
            </button>
            </div>
        </div>
        <div class="project project2">
            <img class="smallImage" [src]="items[1].path">
            <div class="overlay">
            </div>
            <div class="btn-box">
            <button class="btn" (click)="openBlog(items[1].blogId)">
                View
            </button>
            </div>
        </div>
        <div class="project project3">
            <img class="smallImage" [src]="items[2].path">
            <div class="btn-box">
            <button class="btn" (click)="openBlog(items[2].blogId)">
                View
            </button>
            </div>
        </div>
        <div class="project project4">
            <img class="smallImage" [src]="items[3].path">
            <div class="btn-box">
            <button class="btn" (click)="openBlog(items[3].blogId)">
                View
            </button>
            </div>
        </div>
        <div class="project project5">
            <img class="smallImage" [src]="items[4].path">                
            <div class="btn-box">
            <button class="btn" (click)="openBlog(items[4].blogId)">
                View
            </button>
            </div>
        </div>
        <div class="project project6">
            <img class="smallImage" [src]="items[5].path">               
            <div class="btn-box">
                <button class="btn" (click)="openBlog(items[5].blogId)">
                    View
                </button>
            </div>
        </div>
    </div>
    
  </div>
</div>