<div class="gallery" unique-script-id="w-w-dm-id" *ngIf="items.length > 0">
  <div class="responsive-container-block bigContainer">

    <div class="responsive-container-block Container" *ngFor="let j of [].constructor(chunks)">
        <div class="project project1">
            <a href="javascript:void(0);" (click)="openBlog(items[0].blogId)">
                <img class="smallImage" [src]="items[0].path">
            </a>
        </div>
        <div class="project project2">
            <a href="javascript:void(0);" (click)="openBlog(items[1].blogId)">
                <img class="smallImage" [src]="items[1].path">
            </a>
        </div>
        <div class="project project3">
            <a href="javascript:void(0);" (click)="openBlog(items[2].blogId)">
                <img class="smallImage" [src]="items[2].path">
            </a>
        </div>
        <div class="project project4">
            <a href="javascript:void(0);" (click)="openBlog(items[3].blogId)">
                <img class="smallImage" [src]="items[3].path">
            </a>
        </div>
        <div class="project project5">
            <a href="javascript:void(0);" (click)="openBlog(items[4].blogId)">
                <img class="smallImage" [src]="items[4].path">
            </a>
        </div>
        <div class="project project6">
            <a href="javascript:void(0);" (click)="openBlog(items[5].blogId)">
                <img class="smallImage" [src]="items[5].path">
            </a>
        </div>
    </div>
    
  </div>
</div>