.item {
  text-align: center;
  width: 70%;
  height: 500px;
  object-fit: contain;
}

.carousel .owl-theme .owl-nav {
    margin-top: 0px;
    position: absolute;
    top: -50px;
    width: 100%;
}

.carousel {
  width: 70%;
  margin-top:50px;
}

.center {
  display: flex;
  justify-content: center;  
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1rem; 
  padding: 1rem 0;
}
