<!-- <div class="spc-top">
    <div class="row">
        <form (ngSubmit)="getAlbums()" class="spc-right">
            <mat-form-field class="search-field">
                <mat-label>Pretraži po nazivu</mat-label>
                <input matInput [(ngModel)]="searchName" name="name">
                <button type="submit" class="icon-search" mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field> 
        </form>
    </div>
</div> -->

<div class="w-full max-w-[1200px] px-5 pb-20 mx-auto lg:pb-[120px]">
    <h1 class="text-primary font-anton text-3xl mb-6 sm:mb-11 sm:text-6xl">Galerija</h1>
    <app-album-list [albums]="albums"></app-album-list>
</div>
