/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

/* spacing */
.spc-bottom {
    margin-bottom: 50px;
}

.spc-right {
  margin-right: 15px;
}

.spc-top {
    margin-top: 50px;
}

.spc-med-top {
    margin-top: 30px;
}

.active {
    background-color: rgb(245, 245, 184);
}

/* TOAST */

.toast {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color:  rgb(245, 245, 184);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(223, 161, 81, 0.2);
    transition: opacity 0.3s ease-in-out;
    color: #3c4250;
}

.toast.success {
  background-color: #47c464;
}
.toast.error {
  background-color: #dc3545;
}
.toast.warning {
  background-color: #ecc244;
}

/* BUTTON */
.green-button-big {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.green-button-sml {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
}

/* ICON */

.delete-icon {
  color: #dc3545;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.delete-icon:hover {
  color: #a71d2a;
  transform: scale(1.1);
}

/* ADMIN */

.admin {
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
}

/* OPTION BUTTON */
.option-button-active {
  background-color: #89d8bb; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Rubik";
  padding: 10px 20px;
  color: #777676;
}

.option-button-active:hover{
  background-color: #7abfa6;
}

.options a{
   display: block;
   padding: 10px 20px;
   color: #777676;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
}

.options a:hover{
   color: #ccc;
   margin-left: 20px;
   transition: 0.4s;
}

/* LAYOUT */

.row {
  display: flex;
  flex-direction: column; 
  gap: 16px; 
}

.field {
  padding: 8px 8px;
  margin: 8px;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;  
  align-items: center;
}
