<form #formRef="ngForm" (ngSubmit)="save(formRef)">
    <div class="spc-top">
        <div *ngFor="let item of itemsToEdit; index as i">   
            <mat-form-field class="spc-right">
                <mat-label>Sort Order</mat-label>
                <input matInput [(ngModel)]="item.sortOrder" [name]="'sort' + i" disabled>
            </mat-form-field> 

            <mat-form-field class="spc-bottom">
                <mat-label>Choose blog</mat-label>
                <mat-select 
                [(ngModel)]="item.blogId" 
                #blogModel="ngModel"
                [name]="'blog_' + i" 
                required>
                    @for (blog of blogs; track blog) {
                        <mat-option [value]="blog.id">{{blog.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>   
        </div>
    </div>
    <div class="form-error" *ngIf="showError">
        <p>Form is invalid.</p>
    </div>
    <div>
        <button class="option-button-active" type="submit">Save</button>
    </div>
</form>



