<button class="option-button-active spc-top" (click)="addAlbumClicked = !addAlbumClicked;">Add new album</button>

<div class="row spc-top" *ngIf="addAlbumClicked === true">    
    <h3>Add new album</h3>
    <form [formGroup]="addAlbumForm" (ngSubmit)="saveAlbum()">
        <div>
            <mat-form-field class="spc-right">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>

            <mat-form-field class="spc-right">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>

            <mat-slide-toggle id="show" formControlName="show">Show Album</mat-slide-toggle>
        </div>

        <button class="option-button-active spc-top" type="submit">Save</button>

        <div class="form-error" *ngIf="showError">
            <p>Form is invalid!</p>
        </div>
    </form>   
</div>

<div class="row">
    <app-album-list [albums]="albums" [edit]="true"></app-album-list>
</div>

